<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://assets.dice.com/techpro/img/homepage/v2_img/ico_valueprop_4@2x.png" width="30" height="30" class="d-inline-block align-top" alt="">
    JOB TRACKER
  </a>

    <a [routerLink]="['/home']"> Home </a>|
    <a [routerLink]="['/user']"> Users </a>|
    <a [routerLink]="['/jobapp']"> Jobs </a>|
    <a [routerLink]="['/technology']"> Technology </a>|
    <a [routerLink]="['/contact']"> Contact </a>|
    <a [routerLink]="['/about']"> About </a>

</nav>
